body {
    background-color: #ccc; 
}

.circle {
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 100px auto;
}

.circle img {
    transition: all .4s;
    /* transform은 여러개의 항목들이 세트로 해석된당 */
    transform: scale(0.5) skewX(-10deg);
}

.circle:hover img {
    /* hover되었을때 transform 내용이 통째로 변경 */
    transform: scale(0.5) skewX(10deg);
}
