body {
    background-color: #ccc; 
}

.circle {
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 100px auto;
}

@keyframes fire {
    0% {
        transform: scale(0.5) skewX(-40deg);
    }
    100% {
        transform: scale(0.5) skewX(40deg);
    }
}

.circle img {
    transform-origin: center bottom;
    animation-name: fire;
    animation-duration: .4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    /* linear는 등속도 움직임이당. 이징이 없음 */
    animation-timing-function: cubic-bezier(0.12, 0, 0.39, 0);
}

/*
.circle:hover img {
    hover되었을때 transform 내용이 통째로 변경 
    transform: scale(0.5) skewX(10deg);
}
*/
